<%= form_tag charges_path do %>
  <% if current_user.role == 'standard_member' %>
    <h3>Click below to upgrade to a Premium account!</h3>
    <p>Premium accounts are $15 and will allow you to post private wikis!</p>
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
  <% else %>
    <h3>Click below to downgrade back to a Standard account.</h3>
    <p>You will lose your ability to create or view private wikis.</p>
    <button><%= link_to 'Downgrade', charges_path, method: :downgrade %></button>
  <% end %>
<% end %>